<div class="row">
	<div class="small-12 columns">
		<div class="pagination-centered">
			<ul class="pagination">
				<li {{bind-attr class=":arrow previousYearEnabled::unavailable"}}><a>&laquo; {{previousYear}}</a></li>
				{{#each month in months}}
					{{log month}}
					<li {{bind-attr class="month.current:current month.enabled::unavailable"}}><a>{{month.name}}</a></li>
				{{/each}}
				<li {{bind-attr class=":arrow nextYearEnabled::unavailable"}}><a>{{nextYear}} &raquo;</a></li>
			</ul>
		</div>
	</div>
</div>
