<div class="row">
	<div class="small-12 columns text-center">
		<h1>October, 2014</h1>
	</div>
</div>

{{#each diff in controller.arrangedContent}}
	<div {{bind-attr class=":row diff.isCorrect:diff-correct:diff-wrong"}}>
		<div class="small-2 columns">{{formatDay diff.date}}</div>
		<div class="small-3 columns">{{diff.payee}}</div>
		<div class="small-1 columns">{{formatCents diff.cents}}</div>
		<div class="small-6 columns">{{diff.description}}</div>
	</div>
{{else}}
	<div class="row">
		<div class="small-12 columns">
			No transactions for this month.
		</div>
	</div>
{{/each}}

<div class="row diff-paginator">
	<div class="small-12 columns">
		{{date-paginator earliestMonth=controllers.diff.earliestMonth latestMonth=controllers.diff.latestMonth select="changeMonth"}}
	</div>
</div>
