<div class="row">
	<div class="small-12 columns text-center">
		<h1>{{currentMonth.humanMonth}}, {{currentMonth.year}}</h1>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<h3>Incorrect</h3>
	</div>
</div>
{{#each diff in model.incorrect}}
	<div class="row">
		<div class="small-2 columns">{{formatDay diff.ynab.date}}</div>
		<div class="small-1 columns">{{formatCents diff.ynab.cents}}</div>
		<div class="small-9 columns">{{diff.ynab.payee}}</div>
	</div>
	{{#each mint in diff.closestMints}}
		<div class="row">
			<div class="small-2 columns">{{formatDay mint.date}}</div>
			<div class="small-1 columns">{{formatCents mint.cents}}</div>
			<div class="small-9 columns">{{mint.description}}</div>
		</div>
	{{/each}}
{{else}}
	<div class="row">
		<div class="small-12 columns">
			No transactions for this month.
		</div>
	</div>
{{/each}}

<div class="row">
	<div class="small-12 columns">
		<h3>Only in Mint</h3>
	</div>
</div>
{{#each diff in model.mintOnly}}
	<div class="row">
		<div class="small-2 columns">{{formatDay diff.date}}</div>
		<div class="small-1 columns">{{formatCents diff.cents}}</div>
		<div class="small-9 columns">{{diff.description}}</div>
	</div>
{{else}}
	<div class="row">
		<div class="small-12 columns">
			No transactions for this month.
		</div>
	</div>
{{/each}}

<div class="row">
	<div class="small-12 columns">
		<h3>Only in Ynab</h3>
	</div>
</div>
{{#each diff in model.ynabOnly}}
	<div class="row">
		<div class="small-2 columns">{{formatDay diff.date}}</div>
		<div class="small-1 columns">{{formatCents diff.cents}}</div>
		<div class="small-9 columns">{{diff.payee}}</div>
	</div>
{{else}}
	<div class="row">
		<div class="small-12 columns">
			No transactions for this month.
		</div>
	</div>
{{/each}}

<div class="row">
	<div class="small-12 columns">
		<h3>Correct</h3>
	</div>
</div>
{{#each diff in model.correct}}
	<div class="row">
		<div class="small-2 columns">{{formatDay diff.ynab.date}}</div>
		<div class="small-1 columns">{{formatCents diff.ynab.cents}}</div>
		<div class="small-9 columns">{{diff.ynab.payee}}</div>
	</div>
{{else}}
	<div class="row">
		<div class="small-12 columns">
			No transactions for this month.
		</div>
	</div>
{{/each}}

<div class="row diff-paginator">
	<div class="small-12 columns">
		{{date-paginator
			currentMonth=currentMonth
			earliestMonth=controllers.diff.earliestMonth
			latestMonth=controllers.diff.latestMonth
			select="changeMonth"}}
	</div>
</div>
